<div class="section" id="projects">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Projects</div>

    <div class="row">
      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/a111.PNG"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">Personal Portfolio Using Angular8</h4>
              <h5 class="card-text"><b>Technology :</b> Angular8,Bootstrap3</h5>

              <a
                href="https://github.com/mohdr0605"
                class="btn btn-primary stretched-link"
                >GithubLink</a
              >
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/p111.PNG"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">Tic-tac-toe-Game</h4>
              <h5 class="card-text"><b>Technology :</b> Angular,Firebase</h5>

              <a
                href="https://github.com/mehulk05/My-Personal-Portfolio"
                class="btn btn-primary stretched-link"
                >GithubLink</a
              >
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/t111.PNG"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">Train-ticketing-system</h4>
              <h5 class="card-text">
                <b>Technology :</b> HTML5,CSS3,JS,MYSQL,Java
              </h5>

              <a
                href="https://github.com/mohdr0605/Train-ticketing-system-in-java"
                class="btn btn-primary stretched-link"
                >GithubLink</a
              >
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/c111.PNG"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">Coffee Shop Application</h4>
              <h5 class="card-text">
                <b>Technology :</b> Html,Css,Reactjs,MySql,Java
              </h5>

              <a
                href="https://github.com/mohdr0605/Coffee-shop-App"
                class="btn btn-primary stretched-link"
                >GithubLink</a
              >
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4 col-sm-6 animate-box"
        data-animate-effect="fadeInLeft"
      >
        <div class="blog-entry">
          <div class="card">
            <img
              class="card-img-top"
              src="assets/images/l111.PNG"
              alt="Card image"
              style="width: 100%"
            />
            <div class="card-body">
              <h4 class="card-title">Liberary Management</h4>
              <h5 class="card-text">
                <b>Technology :</b> Html,Css,Javascript,Mysql,Java
              </h5>

              <a
                href="https://github.com/mohdr0605/LiberaryManagement"
                class="btn btn-primary stretched-link"
                >GithubLink</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
